#t-interior-full .content-box{
	width: 1240px;
	min-height: 570px;
	margin: auto;
}

.user-picture-editor{
	width: 50%;
	float: left;

	.profile,
	.actions {
		width: 245px;
		margin: auto;
	}

	.profile{
		z-index: inherit;
	}
}

.user-viewer, .password-viewer{
	width: 50%;
	float: right;
}

.password-viewer{
	width: 100%;
}

.prop-wrapper.prop-gen .prop-header-actions .actions,
.prop-wrapper.prop-gen .prop-footer-actions .actions{
	padding: 0 10px;
}

.password-editor.prop-editor {
	clear: both;
}

.password-viewer.prop-wrapper.prop-gen .prop-header-actions .actions{
	margin-left: 75%;
}

@media all and (min-width: 1024px) and (max-width: 1279px){
	#t-interior-full .content-box{
		width: 980px;
	}
}

@media all and (min-width: 768px) and (max-width: 1023px){
	#t-interior-full .content-box{
		width: 720px;
	}
}

@media all and (max-width: 767px){
	#t-interior-full .content-box{
		width: 550px;
	}

	.user-picture-editor{
		width: 100%;
		float: none;
	}

	.user-viewer,
	.password-viewer{
		width: 100%;
		float: none;
	}

	.password-viewer.prop-wrapper.prop-gen .prop-header-actions .actions{
		margin-left: 50%;
	}

}