@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins/clearfix";
@import "../components/sales-activity-calculator";
@import "../components/attendees";
@import "../components/customized-activity";
@import "../components/one-to-one";
@import "../components/big-day-survey";
@import "../components/sales-presentation-cert";
@import "../components/big-day-planning";
@import "../components/weekly-team-meeting";

#primary-content {
	padding: 20px 40px;
}

.prop-wrapper .prop-footer .prop-footer-actions {
	text-align: right;
}

.activity-result-editor .prop-wrapper .prop-header .actions{
	display: block;
	text-align: right;
}

.rep-activity-main .activity-instance-viewer .prop-body {
	margin: 15px 0;
}

.rep-activity-main .actions div.miwt-collapsable {
	float: left;
}
/*.rep-activity-main .actions button.btn {
	float: left;

	&.edit {
		float: right;
	}
}*/

.rep-activity-main .activity-result-editor {
	.actions {
		margin-left: 0;
		@include clearfix();

		&.survey-activity, &.persistence-actions.form-based-activity {
			text-align: right;

			button.btn.edit {
				float: none;
			}
		}
	}

	.prop-wrapper .prop-header-title {
		margin: 0;
	}
	.topic {
		&-list-heading {
			display: none;
		}
		&-con {
			> h1 {
				text-align: center;
			}
			> .description {
				text-align: center;
				width: 80%;
				max-width: 720px;
				margin: 15px auto 30px;
			}
		}
	}
	.attachment {
		&-list-con {
			> h1 {
				display: inline-block;
				width: 50%;
				padding: 0 10px;
				vertical-align: top;
				text-align: right;
				line-height: 1.1;
				font-size: 1.25rem;
			}
		}
		&-con {
			display: inline-block;
			width: 50%;
			padding: 0 10px;
			+ .attachment-con {
				margin-left: 50%;
			}
			> h1 {
				font-size: 1.125rem;
				margin-bottom: 5px;
				line-height: 1.1;
				a {
					font-size: 1em;
					font-weight: bold;
					color: $color-hab-orange;
					text-decoration: underline;
					&:hover {
						color: $color-hab-orange;
					}
				}
			}
		}
	}
}

.team-retreat-summary {
	.prop.summary {
		margin-top: 1rem;
		display: block;
		padding: 0;

		label {
			margin-bottom: 0;
		}

		.val {
			width: 50%;

			textarea {
				width: 100%;
				height: 8rem;
			}
		}
	}

	&.prop-wrapper .actions.bottom {
		text-align: left;
	}
}

@media (max-width: 767px) {
	.team-retreat-summary {
		.prop.summary {
			.val {
				width: 100%;
			}
		}
	}
}