@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/variables";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/buttons";

#e-wrapper {
	width: 500px;
	margin: 100px auto 0;
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

#header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	.text.logo {
		padding: 5px 5px 2px 0;

		img {
			width: 175px;
			height: auto;
		}
	}
}


.content-box {
	padding: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	h1 {
		margin: 0 0 10px;
	}

	a {
		color: $color-hab-orange;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.login-body {
	background-color: #f1f2f7;
}

/* generic login box components */
.login {
	margin: 10px 0;

	.title {
		display: none;
	}

	.field {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;

		.label {
			display: block;
			color: #3b3e40;
			font-family: $font-libre-gothic;
			font-weight: 600;
		}

		.value input{
			width: 196px;
		}
	}

	.fields {
		display: inline-block;
		vertical-align: bottom;
	}

	&.password-reset {
		.field {

			&.username {
				display: block;
				margin-bottom: 10px;
			}

			.value input {
				width: 154px;
			}
		}
	}

	.actions {
		display: inline-block;
		vertical-align: bottom;
	}

	.btn{
		background: $color-hab-orange;
		border: 1px solid darken($color-hab-orange, 5%);
		color: #FFFFFF;
		font-size: 14px;
		font-family: $font-libre-gothic;
		padding: 5px 15px;
		margin: 0;
		border-radius: 3px;
		height: 30px;
		cursor: pointer;
		box-shadow: none;
		text-shadow: none;
	}
}


/* styles for the display when you visit the login page and the user is already logged in */
.loggedin {
	text-align: center;

	.user {
		font-family: $font-libre-gothic;
	}

	.details {
		display: block;
	}
}

.retrieve-password-con {
	background: #fff;
	font-family: $font-libre-gothic;
	border-radius: 0.3rem;
	margin-top: 5rem;
	.html {
		font-size: .85rem;
		padding: 0;
		.title {
			background-color: $header-bg;
			text-align: center;
			color: #fff;
			font-size: 1.6em;
			vertical-align: center;
			text-transform: uppercase;
			padding: .5rem 0;
			border-top-left-radius: 0.3rem;
			border-top-right-radius: 0.3rem;
			font-family: "raleway", sans-serif;
			font-weight: 700;
		}
		p {
			padding: 2rem 2rem 0;
		}
	}
	span.email {
		display: block;
		font-weight: 700;
		margin-bottom: .25rem;
	}
	input[type="text"] {
		border: 2px solid #71767c;
		width: 100%;
	}
	.retrieve-password {
		padding: 0 3rem 2rem;
		button {
			display: block;
			margin: .5rem auto 0;
			font-weight: 700;
			text-transform: uppercase;
			border-width: 1px;
			border-style: solid;
			color: #fff;
			background-color: #02549d;
			border-color: #013e75;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
			padding: 0.25rem 0.75rem;
			font-size: 0.875rem;
			line-height: 1.5;
			border-radius: 0.2rem;

			&:hover {
				color: #fff;
				background-color: #01396b;
				border-color: #011e38;
			}
			&:focus, &.focus {
				color: #fff;
				background-color: #01396b;
				border-color: #011e38;
			}
		}
	}
}


.retrieve-password-con .retrieve-password button:active, .retrieve-password-con .retrieve-password button.active,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle {
	color: #fff;
	background-color: #01396b;
	border-color: #011e38;
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.retrieve-password-con .retrieve-password button:active:hover,
.retrieve-password-con .retrieve-password button:active:focus,
.retrieve-password-con .retrieve-password button:active.focus,
.retrieve-password-con .retrieve-password button.active:hover,
.retrieve-password-con .retrieve-password button.active:focus,
.retrieve-password-con .retrieve-password button.active.focus,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle:hover,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle:focus,
.open > .retrieve-password-con .retrieve-password button.dropdown-toggle.focus {
	color: #fff;
	background-color: #012647;
	border-color: black;
}

.retrieve-password-con .retrieve-password button.disabled:focus,
.retrieve-password-con .retrieve-password button.disabled.focus,
.retrieve-password-con .retrieve-password button:disabled:focus,
.retrieve-password-con .retrieve-password button:disabled.focus {
	background-color: #02549d;
	border-color: #013e75;
}

.retrieve-password-con .retrieve-password button.disabled:hover,
.retrieve-password-con .retrieve-password button:disabled:hover {
	background-color: #02549d;
	border-color: #013e75;
}

.retrieve-password div.email {
	display: inline-block;
}

.retrieve-password span.email {
	display: block;
	color: #3b3e40;
	font-family: OpenSansSemiBold, Arial, sans-serif;
}

.retrieve-password .email input {
	width: 320px;
}

.retrieve-password button.submit {
	width: 150px;
	background: $color-hab-orange;
	border: 1px solid $btn-primary-border;
	color: $color-white;
	font-size: 14px;
	font-family: $font-libre-gothic;
	padding: 5px 15px;
	margin: 0 0 0 8px;
	border-radius: 3px;
	height: 30px;
	cursor: pointer;
	box-shadow: none;
	text-shadow: none;
}

.retrieve-password {
	margin-top: .25rem;

	a {
		font-size: .8rem;
	}
}

.password-reset {
	background: #fff;
	font-family: $font-libre-gothic;
	border-radius: 0.3rem;
	margin-top: 5rem;
}

.password-reset .title {
	background-color: $header-bg;
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	vertical-align: center;
	text-transform: uppercase;
	padding: .5rem 0;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	font-family: "raleway", sans-serif;
	font-weight: 700;
}

.password-reset p {
	padding: 2rem 2rem 0;
}

.password-reset .label {
	font-size: .85rem;
	color: #343940;
	text-transform: uppercase;
	font-family: $font-libre-gothic;
}

.password-reset .label label {
	margin-bottom: .25rem;
}

.password-reset .actions {
	padding: 0 3rem 2rem;
}

.password-reset .actions .btn {
	margin: .5rem auto 0;
	display: block;
}

.first-time {
	+ .login.password-reset {
		margin-top: 0;

		.password-rules {
			padding: 0;
		}

		.fields {
			width: 100%;
		}

		.field.password,
		.field.verify-password {
			width: 49%;

			.value input {
				width: 100%;
			}
		}

		.field.verify-password {
			margin-right: 0;
		}

		.actions {
			width: 100%;
			padding: 0;
			margin-bottom: 1rem;

			.btn {
				float: right;
				margin: .5rem .35rem 0 0;
			}
		}
	}
}

/* ----- CREATE PASSWORD */
.create-password.password-reset {
	margin-top: 0;
	border-radius: 0;

	p.password-rules {
		padding: 0;
	}

	&.login {
		.fields {
			width: 100%;
		}

		.field.password,
		.field.verify-password {
			.value input {
				width: 100%;
			}
		}

		.field.password {
			width: 49%;
		}

		.field.verify-password {
			margin-right: 0;
			width: 49%;
		}
	}

	.actions {
		width: 100%;
		padding: 0;

		.btn {
			margin: .5rem .35rem 0 0;
			float: right;
		}
	}

}