@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins";

/* save to complete the stream storage copy */
button.btn,
button.btn,
button.btn {

	&.addClient,
	&.clientSetting,
	&.importMembers {
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
		margin-left: 5px;
	}
}
.edit-user {
	min-height: 450px;
}

.permissions.prop-wrapper.prop-gen .actions.top{
	display: block;
	text-align: right;
}

.prop-wrapper.prop-gen {
	&.company-visibility-setting-viewer,
	&.company-emails {
		.prop {
			padding: 10px 0;
		}
	}

	&.company-emails {

		.prop .val {
			padding: 6px 10px 10px;
		}

		.email_template_selector {
			> div {
				display: inline-block;
			}

			.actions {
				padding: 0;
				margin: 0 0 0 1rem;
			}
		}
	}
}

.edit-user {
	.user-picture-editor {
		width: 33%;
		min-width: 330px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;

		.profile {
			position: relative;
			width: 246px;
			z-index: 1;
		}
	}

	.prop-wrapper {
		width: 33%;
		min-width: 330px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}

	.hire-date {
		.actions {
			display: inline-block;
			margin: 0;
			margin-left: 20px;
		}

		.val {
			margin-top: -16px;

			span{
				display: inline-block;
				vertical-align: top;
			}
		}

		.cal {
			display: block;
			margin-top: -6px;
		}

		button.btn{
			margin-top: -6px;
			font-size: 12px;
			padding: 0px 5px;
			height: auto;
		}
	}

	.prop-wrapper.prop-gen .prop .extension_label-con .extension_label {
		font-size: .75rem;
		width: 100%;
		padding: 0;
	}

	.prop-wrapper.prop-gen .prop.supervisor .val a {
		color: $color-hab-orange;
		font-weight: 600;
		text-decoration: underline;

		&:focus, &:active {
			box-shadow: none;
			outline: none;
			text-decoration: underline;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.prop-footer .actions {
		margin-right: 30px;
	}

	.prop-wrapper.prop-gen .props .prop .label{
		padding-left: 0;
	}

	.prop-wrapper .prop .val{
		max-width: 260px;
		word-wrap: break-word;

		a.btn {
			padding: 0;
			font-size: 14px;
		}
	}
}


.activity-permission-list {

	.checkbox-activate {
		width: 1%;
		font-size: 12px;
		text-align: center;
	}

	.checkbox-activate .ctb {
		margin: auto;
		display: block;
	}
}

.dialog .prop-header-actions{
	display: none;
}

.permissions .prop-footer-actions{
	display: none;
}

.activity-admin-editor .prop.activity-settings {

	> .prop {
		display: block;
	}

	.prop_group.fields {
		> .prop > label {
			display: inline-block;
			vertical-align: top;
			width: 10%;
			font-family: "OpenSansSemiBold", Arial, sans-serif;
			text-align: left;
		}

		> .prop > .val {
			display: inline-block;
			vertical-align: top;
			width: 85%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			margin: 0;
			padding: 15px 0;
		}

		> .prop > .val .ctb {
			display: inline;
			width: auto;
		}
	}
}

.edit-activity-tab {

	.prop-group.notification {
		.ind-email,
		.mgr-completion-email,
		.rep-completion-email {
			margin-top: .5rem;
		}
	}

	&.prop-gen.prop-wrapper {

		> .prop-body > .prop-group {
			padding: 1rem;
			border: 1px solid #e5e5e5;

			+ .prop-group {
				margin-top: 2rem;
			}

			.prop-group {
				border: none;
				padding: 0;
			}
		}

		.prop-editor {
			padding: 0;
		}

		.props, .prop {
			display: block;
		}

		.prop-group.activity-specific {
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				width: 100%;
				max-width: 20rem;
				padding: 2px 5px;
			}

			.select2-container {
				width: 20rem !important;
			}
		}

		.miwt-table > tbody > tr {
			&.even:hover td {
				background: lighten(#e5e5e5, 8%);
			}

			&.odd:hover td {
				background: lighten(#e5e5e5, 3%);
			}

			&.dnd-source {
				cursor:move;
				cursor:-webkit-grab;

				.prop.topic,
				label,
				.actions {
					cursor: grab;
				}

				&.dnd-target-active.odd td {
					background: lighten(#e5e5e5, 3%);
				}

				&.dnd-target-active.even td {
					background: lighten(#e5e5e5, 8%);
				}
			}
		}

		.prop_group.topics {
			.untracked_topic {
				position: relative;
				width: 53rem;
				cursor: move;

				&:hover {
					background: lighten(#e5e5e5, 5%);
				}

				&.dnd-source {
					cursor:move;
					cursor:-webkit-grab;

					.prop.topic,
					label,
					.actions {
						cursor: grab;
					}

					&.dnd-target-active {
						background: lighten(#e5e5e5, 5%);

						.prop.topic,
						label,
						.actions {
							cursor: grabbing;
						}
					}
				}

				.prop.topic,
				label,
				.actions {
					cursor: move;
				}

				> div {
					width: 80%;
					display: inline-block;
					vertical-align: middle;
				}

				.prop label {
					width: 48%;
				}

				.actions {
					display: inline-block;
					margin: 0;
					vertical-align: middle;
					width: auto;
				}
			}
		}

		.props {

			> label {
				display: inline-block;
				font-weight: 600;
				font-size: 1.5rem;
				position: relative;
				background: $color-white;
				padding: 0 3px;
				top: -2.25rem;
			}

			> .entity_value_editor {
				margin-top: -1.75rem;
			}

			h2 {
				font-size: 1rem;
				font-weight: 600;
			}

			.head_text {
				margin: 1.5rem 0;
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: .35rem;
				font-weight: 600;
				font-size: 1.25rem;

				label {
					width: 41.5rem;
					display: inline-block;
					margin-bottom: 0;
				}
			}

			.prop_group.fields + h2 {
				margin-top: 2rem;
			}

			&.schedule {
				> .select2-container {
					padding: 10px;
				}
			}

			.schedule-editor {

				.freq-label {
					margin-right: .35rem;
				}

				.prop .val {
					input[type="text"] {
						max-width: 8rem;
						margin-right: .5rem;
					}

					.select2-container {
						width: 9rem !important;
					}
				}

				.prop.schedule-cyle-offset {
					.val .select2-container:last-of-type {
						width: 12.5rem !important;
						margin-left: 0;
						margin-top: .5rem;

						@include media-breakpoint-up(lg) {
							margin-top: 0;
							margin-left: .35rem;
						}
					}
				}
			}

			&.activity-specific {

				.prop.allow-overdue {
					margin-top: -1.75rem;
				}

				.prop.allow-overdue .val {
					width: auto;
				}

				.prop.allow-overdue .val input[type="checkbox"] {
					margin-top: 0;
				}

				.prop.allow-overdue .label {
					padding-left: 0;
					padding-right: 0;
				}

				.prop.allow-overdue .label,
				.prop.allow-overdue .label label {
					max-width: none;
					width: auto;
					margin-bottom: 0;
				}

				.entity_value_editor {
					margin-top: 1rem;
				}

				.entity_value_editor > .ctb.label-after {
					padding: 10px 0;
				}

				.entity_value_editor > .ctb.label-after label.allow-file-attachments {
					margin-bottom: 1.5rem;
					display: inline-block;
				}

				.entity_value_editor > .ctb.label-after label {
					font-weight: 600;
				}
			}
		}

		.prop {
			.label, label, > .val {
				display: inline-block;
				vertical-align: top;
			}

			.label, label {
				width: 35%;
				text-align: left;
				font-family: $font-libre-gothic;
				font-weight: 600;
				max-width: 20rem;
				padding: 10px 10px 10px 25px;

				label {
					width: 100%;
					padding: 0;
					display: block;
				}

			}

			.ctb {
				display: inline-block;
				vertical-align: middle;
				padding: 0;
			}

			.prop {
				display: inline-block;
				vertical-align: middle;
				padding: 10px;
				width: 21rem;

				input.val {
					margin-left: 0;
				}
			}

			> .val {
				width: 60%;
				text-align: left;
				margin-left: 10px;
				padding: 10px;

				.val {
					display: inline-block;
					vertical-align: top;
					margin-left: 0;
					padding: 0;
				}

				input[type="text"],
				input[type="tel"],
				input[type="email"] {
					width: 100%;
					max-width: 20rem;
					padding: 2px 5px;
				}

				.select2-container {
					width: 20rem !important;
				}

				div.actions {
					display: block;
					vertical-align: middle;
					padding: 0;
					margin: .5rem 0 0;

					@include media-breakpoint-up(xl) {
						display: inline-block;
						vertical-align: middle;
						padding: 0 .5rem;
						margin: -1px 0 0;
					}
				}
			}

			&.tracked_topic {

				label {
					padding: 0 0 0 10px;
					margin: 0;
				}

				+ h2 {
					margin-top: 2rem;
				}

				+ .tracked_topic {
					margin-top: 1rem;
				}
			}
		}

		.ctb {
			padding: 10px;

			input.prop {
				display: inline;
			}
			label.tbl {
				display: inline;
				margin-left: 5px;
			}
		}

		.notification {
			.prop > .val {
				p {
					margin: .5rem 0;
				}
				.select2-container {
					width: 12.25rem !important;
				}
			}
		}
	}

	.prop .label {
		width: 35%;
	}

	.prop-footer-actions .actions {
		margin-left: 35%;
	}

	.enable-propagate .props {
		margin-left: 41%;
		padding-left: 21px;
		margin-bottom: 1rem;
	}

	.schedule-editor-con .label {
		text-align: left;
		padding-top: 13px;
	}

	.email_template_selector {
		background-color: #f9f9f9;
		border: 1px solid #eaeaea;
		display: inline-block;
		padding: 5px;
		width: 100%;

		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}

	.email_template_selector > div {
		display: inline-block;
		vertical-align: middle;
	}

	.email_template_selector .actions {
		margin: 0 0 0 10px;
	}

	.email_template_selector .actions .btn {
		margin: 0;
		font-size: 12px;
		padding: 3px 10px;
		height: auto;
	}

	.activity-settings .entity_value_editor {
		width: 570px;
	}

	.activity-settings .head_text {
		font-weight: bold;
		margin: 10px 0;
	}

	.activity-settings .head_text label {
		width: 400px;
		margin-right: 100px;
	}

	.activity-settings h2 {
		font-size: 14px;
		font-weight: bold;
		float: left;
		margin-top: 1rem;
	}

	.schedule-editor-con .schedule-frequency input,
	.edit-activity-tab .schedule-editor-con .schedule-min-frequency input,
	.edit-activity-tab .schedule-editor-con .schedule-max-frequency input,
	.edit-activity-tab .schedule-editor-con .schedule-work-period input,
	.edit-activity-tab .schedule-editor-con .schedule-heads-up input {
		width: 45px;
		text-align: center;
		margin-right: 5px;
	}

	.activity-settings {
		.prop, .prop_group {
			display: block;
			clear: both;
		}

		.prop + .prop {
			margin-top: 10px;
		}
	}

	.prop.activity-settings .prop_group.fields > .company_enum_field > .val {
		display: inline-block;
		padding: 0;
		width: auto;
	}

	.activity-settings .tracked_topic > label,
	.prop.activity-settings .prop_group.fields > .company_enum_field > label {
		width: 170px;
		margin-right: 10px;
		text-align: right;
	}

	.activity-settings .tracked_topic > input,
	.activity-settings .company_enum_field > .val > input {
		width: 290px;
	}

	.activity-settings .company_enum_field > .val > .ctb {
		display: inline-block;
		margin-left: 50px;
	}

	.activity-settings h2 + .actions {
		float: right;
		margin: 1.5rem 0 1rem;
	}

	.activity-settings h2 + .actions .btn {
		margin: 0;
	}

	.activity-settings .prop.tracked_topic {

		+ h2 {
			margin-top: 2rem;
		}

		label, input.val, span.ctb {
			display: inline-block;
			vertical-align: middle;
		}

		label {
			margin-bottom: 0;
		}

		span.ctb {
			margin-left: .5rem;
		}
	}

	.activity-settings .untracked_topic {
		clear: both;
		white-space: nowrap;
		margin: 10px 0;
		padding: 0;
	}

	.activity-settings .untracked_topic:after {
		content: " ";
		clear: both;
		display: table;
	}

	.activity-settings .untracked_topic > div {
		float: left;
	}

	.activity-settings .untracked_topic .prop {
		display: inline-block;
		vertical-align: middle;
	}

	.activity-settings .untracked_topic > .actions {
		margin: 3px 0 0 17px;
		padding: 0;

	}

	.activity-settings .untracked_topic > .actions .btn {
		margin: 0;
		padding: 3px 10px;
		font-size: 12px;
	}

	.activity-settings .untracked_topic .prop label {
		width: 170px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		margin-bottom: 0;
	}

	.activity-settings .untracked_topic .prop input {
		width: 290px;
	}

	.activity-settings .actions.top {
		display: block;
	}
}

/* ----- CAREER DEV PLAN */
.edit-activity-tab.prop-gen.prop-wrapper .prop-group.activity-specific {
	.actions.persistence_actions.top {
		display: block;
		margin-top: -10px;
	}

	.career_question {
		&.dnd-source {
			cursor:move;
			cursor:-webkit-grab;

			&:hover {
				background: lighten(#e5e5e5, 5%);
			}

			.prop.topic,
			label,
			.actions {
				cursor: grab;
			}

			&.dnd-target-active {
				background: lighten(#e5e5e5, 5%);

				.prop.topic,
				label,
				.actions {
					cursor: grabbing;
				}
			}
		}
	}
}

.edit-activity-tab.prop-gen.prop-wrapper .prop-group.activity-specific .career_questions .career_question {
	position: relative;
	width: 53rem;

	label {
		width: 20rem;
	}

	input[type="text"] {
		max-width: none;
		width: 25rem;
	}

	+ .career_question {
		margin-top: 1.5rem;
	}

	.actions {
		position: absolute;
		right: 0;
		top: .9rem;
	}
}

.tab-content .resources {

	+ .resources {
		margin-top: 2rem;
	}

	> label {
		font-size: 1.5rem;
	}
}

div.window.dialog {
	.prop-wrapper.prop-gen.email-selector {
		.props, .prop {
			display: block;
		}

		.prop {
			.val, .label {
				display: block;
				width: 100%;
				text-align: left;
			}

			.label {
				padding: 0;
			}

			.val {
				margin: 0 0 1rem;
				padding: 0;
			}

			.select2-container {
				max-width: 100%;
			}
		}
	}

	.prop-wrapper.prop-gen {
		> .prop-body > .prop-group {
			padding: 0;
			border: none;
		}

		.prop.schedule-frequency {
			margin-top: 1.25rem;
			padding-top: .75rem;
			border-top: 1px solid #e5e5e5;
		}
	}

	.activity-schedule {
		.prop .select2-container {
			margin: .25rem 0;
			width: 180px !important;
		}
	}

	.props.schedule-values {
		margin-bottom: 1rem;
	}

	.activity-dashboard-stting ,
	.activity-dashboard-setting {
		padding: 0;

		&.prop-wrapper.prop-gen {
			.dsahboard-settings .prop,
			.dashboard-settings .prop {
				.val {
					width: 45%;
				}

				.label {
					width: 50%;
					padding: 10px 0;
				}
			}
		}
	}

	div.confirm {
		+ .actions.persistence-actions.bottom {
			.btn {
				display: block;

				&:not(.cancel) {
					width: 26.5rem;
				}

				+ .btn {
					margin-left: 0;
					margin-top: .5rem;
				}
			}
		}
	}

	.dashboard-display-instruction {
		border-top: 1px solid #e5e5e5;
		padding-top: 1rem;
		margin-top: .75rem;
	}

	&.create-new-position {
		width: 525px !important;

		.prop-wrapper.prop-gen {
			padding: 0;

			.prop-body .prop-group {
				padding: 0;
			}

			.prop-body .prop {

				&.is-super-vp:first-of-type .val {
					padding-bottom: 0;
				}

				&.is-super-vp:last-of-type .val {
					padding-top: 0;
				}

				.label {
					padding-left: 0;
				}

				> .val {
					padding-left: 0;
				}

				.rtb {
					.val {
						width: auto;
					}

					label.val.tbl {
						width: 75%;
						padding: 0;
					}
				}
			}

			.prop .label {
				width: 45%;
			}

			.prop .val {
				width: 50%;

				input[type="text"] {
					width: 75%;
					min-width: 8rem;
				}
			}
		}
	}
}

div.window.dialog.property_wrapper {

	.prop {
		width: 100%;

		label, .val {
			display: inline-block;
			vertical-align: top;
		}

		label {
			padding: 10px;
			width: 35%;
			max-width: 15rem;
		}

		.val:not(input[type="checkbox"]) {
			padding: 2px 5px;
			margin-left: 10px;
			width: 60%;
		}

		input[type="text"] {
			width: 60%;
		}

		textarea.val {
			width: 60%;
			height: 4.25rem;
			margin-bottom: 1.5rem;
		}

		&.disabled {

			input[type="checkbox"] {
				margin: 5px 5px 0 0;
			}

			label.val {
				width: 90%;
				padding: 0;
				max-width: none;
			}

			span.ctb.label-after {
				display: inline-block;
				padding: 10px;
				width: 60%;
			}
		}
	}

	div.info {
		margin-bottom: 1.25rem;
		padding-top: 1rem;
		border-top: 1px solid #e5e5e5;
	}
}

.company-setting-detail-info {

	.prop-wrapper.prop-gen {
		padding: 1.5rem 1rem 1rem;
		border: 1px solid #e5e5e5;
	}

	.prop-wrapper.prop-gen .resource-ui {
		.btn {
			@include button-variant($color-white, $color-hab-orange, darken($color-hab-orange, 5%));
			font-size: .9rem;
			font-weight: 600;
			font-family: $font-libre-gothic;
		}

		.miwt-table a.btn.remove {
			padding: 0;
			background: transparent;
			color: $color-hab-orange;
			border: none;

			&:hover {
				background: transparent;
			}
		}
	}

	h1 {
		.content-box & {
			font-size: 1.5rem;
			font-weight: 600;
			margin: 1.25rem 0 0 1.5rem;
			display: inline-block;
			background: $color-white;
			padding: 0 3px;
		}

		+ .prop-wrapper.prop-gen,
		+ .meta-data {
			margin-top: -1rem;
		}
	}

	.prop-wrapper.prop-gen .prop-body > .prop-group {
		padding: 0 1rem;
		border: none;
	}

	.prop-wrapper.prop-gen .prop-footer-actions .actions {
		padding-left: .65rem;
	}

	.meta-data {
		padding: 1.5rem 1rem 1rem;
		border: 1px solid #e5e5e5;

		.prop {
			width: 100%;

			.label, .val {
				display: inline-block;
				vertical-align: top;
			}

			.label {
				padding: 10px 10px 10px 25px;
				width: 35%;
				max-width: 20rem;
				font-weight: 600;
			}

			.val {
				width: 60%;
				margin-left: 10px;

				input[type="text"]:not(.program-start) {
					width: 100%;
					max-width: 18rem;
				}
			}

			.miwt-calendar button.open {
				vertical-align: top;
				margin-top: 3px;
			}
		}
	}
}

.company-visibility-setting-viewer {
	&.prop-wrapper .prop-header-title {
		margin: 1.25rem 0 0 1.5rem;
		display: inline-block;
		background: $color-white;
		padding: 0 3px;

		h2 {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	&.prop-wrapper .prop-body {
		margin-top: -1.35rem;
	}
}

/* ----- TRACKED GOALS */
.tracked-goal {

	+ .tracked-goal {
		margin-top: 1.5rem;
		padding-top: 1rem;
		border-top: 1px solid #e5e5e5;
	}

	.title {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: .5rem;
	}

	.actions {
		.btn.disable {
			@include button-variant($color-hab-orange, $color-white, $color-hab-orange);
		}
	}
}

.company-cycles-setting-viewer {

	.cycle-editor-con {
		display: inline-block;
		vertical-align: top;
		padding: 1rem;
		width: 46%;
		margin: .75rem;
		border: 1px solid #e5e5e5;

		@include media-breakpoint-up(lg) {
			width: 30.5%;
		}

		@include media-breakpoint-up(xl) {
			width: 22.5%;
		}
	}

	.prop-wrapper > .prop-body > .prop-group,
	&.prop-wrapper.prop-gen > .prop-body > .prop-group {
		border: none;
		padding: 0;
	}

	&.prop-wrapper .prop-body .prop {
		display: block;
		margin-bottom: .75rem;

		.label, .val {
			display: block;
		}

		.label {
			width: 100%;
			text-align: left;
			padding: 0;
			margin-bottom: 0;

			label {
				margin-bottom: 0;
			}
		}

		.val {
			width: 100%;
			padding: 0;
			margin-left: 0;
		}
	}

	&.prop-wrapper .prop-footer-actions .actions {
		margin-left: 0;
		padding: 0;
	}

	.prop-editor .miwt-calendar {
		input[type="text"] {
			min-width: 5.5rem;
			max-width: 5.5rem;
		}
	}
}

.prop-wrapper {
	&.user-role-viewer, &.user-viewer {
		.prop .val {
			padding: 10px;
		}
	}
}

/* ----- MEDIA QUERIES */
@media (max-width: 1160px) {
	.edit-user {
		.user-picture-editor {
			width: 51%;
		}

		.prop-wrapper {
			width: 50%;
		}
	}
}

@media (max-width: 1023px) {
	.edit-activity-tab.prop-gen.prop-wrapper .prop-group.activity-specific .career_questions .career_question {
		width: 100%;

		label {
			width: 15rem;
		}

		input[type="text"] {
			width: 15rem;
		}
	}

	.edit-activity-tab.prop-gen.prop-wrapper .props .head_text label {
		width: 30rem;
	}

	.edit-activity-tab.prop-gen.prop-wrapper .prop .ctb {
		margin-left: 5px;
	}

	.edit-activity-tab.prop-gen.prop-wrapper .prop.company_enum_field > .val input[type="text"] {
		max-width: 15rem;
	}

	.edit-activity-tab.prop-gen.prop-wrapper .prop_group.topics .untracked_topic > div {
		width: 60%;
	}

	.edit-activity-tab.prop-gen.prop-wrapper .prop_group.topics .untracked_topic .prop label {
		width: 32%;
	}

	.edit-user .prop-wrapper {
		width: 65%;
	}
}