@font-face {
  font-family: FranklinGothic URW Demi;
  src: url('http://haber-qa.venturetech.net/_resources/dyn/files/1086553z1f683424/_fn/URW%2B%2B%20-%20FranklinGothicURW-Dem.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Cond Medium;
  src: url('http://haber-qa.venturetech.net/_resources/dyn/files/1086552z686f04b2/_fn/URW%2B%2B%20-%20FranklinGothicURWCon-Med.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Book;
  src: url('http://haber-qa.venturetech.net/_resources/dyn/files/1086551zf1665508/_fn/URW%2B%2B%20-%20FranklinGothicURW-Boo.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@page {
  size: 8.75in 11.25in; /* 8.5x11 + 0.125 bleed area on each edge */
  margin: 0.5in;
  @bottom-right-corner {
    content: counter(page);
    font-size: 12px;
  }
}

body {
  //font-family: Arial, sans-serif;
  font-family: FranklinGothic URW Book, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.activity-header {
  margin: 0;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  font-size: 26px;
  margin-bottom: 26px;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  margin: 10px 10px 10px 0;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.activity-info {
  margin: -10px 0 0;
}

.activity-info .left {
  width: 4in;

  .label {
    width: .5in;
  }
}

.activity-info .right {
  margin-left: .95in;
  width: 3in;
}

.activity-info .label {
  width: 1.35in;
  //text-align: right;
  text-align: left;
}

.activity-info .val {
  width: 1.15in;
  margin-left: 0.125in;
}

.activity-result-editor {
  margin-bottom: 0.375in;
}

.activity {
  padding: 0.1in 0;
}

.ecsell {
  margin: 0;
  padding: 0;
  float: right;
  width: 186px;
  height: 59px;
}

.prop-group {
  width: 7.75in;
}

.prop-wrapper .props {
  width: 100%;
  display: table;
}

.prop-wrapper .prop {
  display: table-row;
}

.prop-wrapper .prop .label {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  padding: 5px 10px;
  font-family: FranklinGothic URW Book, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.prop-wrapper .prop .val {
  display: table-cell;
  margin-left: 15px;
  padding: 5px 10px;
  vertical-align: top;
}

.prop-wrapper .prop .rtb + .rtb {
  margin-left: 15px;
}

.prop-wrapper .prop .rtb label {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.prop-wrapper .prop .ctb {
  display: block;
}

.prop-wrapper .prop .ctb label {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0px 0px 9px;
}

.prop-wrapper .prop .cb-field .ctb {
  margin-bottom: 15px;
}

.prop-wrapper .prop .label .secondary {
  display: block;
  font-size: 12px;
}

.prop-wrapper .prop-group .prop-group-title {
  width: 100%;
  display: block;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #052c49;
  color: #FFFFFF;
  font-size: 16px;
  margin: 10px 0 0 0;
  padding: 5px 15px;
}

.prop-wrapper .phone_field .phone_number_format .rtb + .rtb {
  margin-left: 15px;
}

.prop-wrapper.phone_field .phone_number_entry_con .label_con.extension_label_con .extension_label.label {
  margin-left: 15px;
}

.prop-wrapper .prop .val a {
  color: #e5901a;
  text-decoration: none;
}