@font-face {
  font-family: FranklinGothic URW Demi;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083803z5d19a300/_fn/URW%2B%2B%20-%20FranklinGothicURW-Dem.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Cond Medium;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083802z2a1e9396/_fn/URW%2B%2B%20-%20FranklinGothicURWCon-Med.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Book;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083801zb317c22c/_fn/URW%2B%2B%20-%20FranklinGothicURW-Boo.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@page {
  size: 8.75in 11.25in; /* 8.5x11 + 0.125 bleed area on each edge */
  margin: 0.5in;
  @bottom-right-corner {
    content: counter(page);
    font-size: 12px;
  }
}

body {
  //font-family: Arial, sans-serif;
  font-family: FranklinGothic URW Book, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.activity-header{
  margin: 0;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  font-size: 26px;
  margin-bottom: 26px;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  margin: 10px 10px 10px 0;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.activity-info {
  margin: -5px;
}

.activity-info .left {
  width: 4in;

  .label {
    width: .5in;
  }
}

.activity-info .right {
  margin-left: .85in;
  width: 3in;
}

.activity-info .label {
  width: 1.35in;
  //text-align: right;
  text-align: left;
}

.activity-info .val {
  width: 1.15in;
  margin-left: 0.125in;
}


.ecsell {
  margin: 0;
  padding: 0;
  float: right;
  width: 186px;
  height: 59px;
}

.instructions {
  font-size: 12px;
  width: 7.5in;
  margin: 10px 0px;
}

.instructions .label {
  padding-right: 5px;
}

.instructions .val {
  border-left: 1px solid #C2C2C2;
  padding: 0px 5px;
}

.activity {
  border: 1px solid #e5e5e5;
  margin: 10px 0px;
  border-collapse: collapse;
  width: 7.5in;
  page-break-inside: avoid;
}

.activity th.header {
  font-family: FranklinGothic URW Demi, sans-serif;
  background: #052c49;
  height: 30px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  line-height: 14px;
  border-right: 1px solid #fff;

  &:last-child {
    border-right: none;
  }
}

td.topic, th.topic{
  width: 1.75in;
}

td.function, th.function {
  width: 1.75in;
}

td.question, th.question,
td.description, th.description {
  width: 1.75in;
}

td.rating, th.rating {
  width: 0.5in;
  text-align: center;
}

td.recommendation, th.recommendation {
  width: 1.75in;
}

td.data, th.data {
  border: 1px solid #e5e5e5;
  padding: 5px;
}

.activity-summary {
  border: 1px solid #e5e5e5;
  margin: 10px 0;
  border-collapse: collapse;
  width: 7.5in;
  page-break-inside: avoid;

  td.topic, th.topic{
    width: 1.65in !important;
    max-width: 1.65in !important;
  }

  td.function, th.function {
    width: 1.65in !important;
    max-width: 1.65in !important;
  }

  td.question, th.question,
  td.description, th.description {
    width: 1.7in !important;
    max-width: 1.7in !important;
  }

  td.rating, th.rating {
    width: .5in !important;
    text-align: center;
    max-width: .5in !important;
  }

  td.recommendation, th.recommendation {
    width: 1.75in !important;
    max-width: 1.75in !important;
  }
}

.activity th.grand-total, .activity th.sub-total, .activity th.val {
  font-size: 16px;
  //font-family: OpenSansSemiBold, Arial, sans-serif;
}