@font-face {
  font-family: FranklinGothic URW Demi;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083803z5d19a300/_fn/URW%2B%2B%20-%20FranklinGothicURW-Dem.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Cond Medium;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083802z2a1e9396/_fn/URW%2B%2B%20-%20FranklinGothicURWCon-Med.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@font-face {
  font-family: FranklinGothic URW Book;
  src: url('http://cultivate-growth.com/_resources/dyn/files/1083801zb317c22c/_fn/URW%2B%2B%20-%20FranklinGothicURW-Boo.otf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

@page {
  size: 8.75in 11.25in; /* 8.5x11 + 0.125 bleed area on each edge */
  margin: 0.5in;
  @bottom-right-corner {
    content: counter(page);
    font-size: 12px;
  }
}

body {
  font-family: FranklinGothic URW Book, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.activity-header {
  margin: 0;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {
  font-size: 26px;
  margin-bottom: 26px;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 16px;
  margin: 10px 10px 10px 0;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.activity-info {
  margin: -10px 0 0;
}

.activity-info .left {
  width: 4in;

  .label {
    width: .5in;
  }
}

.activity-info .right {
  margin-left: .95in;
  width: 3in;
}

.activity-info .label {
  width: 1.35in;
  //text-align: right;
  text-align: left;
}

.activity-info .val {
  width: 1.15in;
  margin-left: 0.125in;
}

.activity-result-editor {
  margin-bottom: 0.375in;
}

.activity {
  padding: 0.1in 0;
}

.ecsell {
  margin: 0;
  padding: 0;
  float: right;
  width: 186px;
  height: 59px;
}

.answers{
  width: 7.75in;
}

.answer-con{
  width: 100%;
}

.answers .answer-con label{
  width: 100%;
  display: block;
  font-family: FranklinGothic URW Demi, sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #052c49;
  color: #FFFFFF;
  font-size: 16px;
  margin: 10px 0 0 0;
  padding: 5px 15px;
}

.answers .answer-con .value{
  display: block;
  width: 100%;
  margin: 10px 0px;
  padding: 0px 15px;
}