@font-face {
	font-family: FranklinGothic URW Demi;
	src: url('http://cultivate-growth.com/_resources/dyn/files/1083803z5d19a300/_fn/URW%2B%2B%20-%20FranklinGothicURW-Dem.otf');
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-family: FranklinGothic URW Cond Medium;
	src: url('http://cultivate-growth.com/_resources/dyn/files/1083802z2a1e9396/_fn/URW%2B%2B%20-%20FranklinGothicURWCon-Med.otf');
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-family: FranklinGothic URW Book;
	src: url('http://cultivate-growth.com/_resources/dyn/files/1083801zb317c22c/_fn/URW%2B%2B%20-%20FranklinGothicURW-Boo.otf');
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@page {
	size: 8.75in 11.25in; /* 8.5x11 + 0.125 bleed area on each edge */
	margin: 0.5in;
	@bottom-right-corner {
		content: counter(page);
		font-size: 12px;
	}
}

body {
	font-family: FranklinGothic URW Book, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.rep-activity-main {
	margin: 0;
	font-size: 14px;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

h1 {
	font-size: 26px;
	margin-bottom: 26px;
	font-family: FranklinGothic URW Demi,sans-serif;
	font-style: normal;
	font-weight: normal;
}

h2 {
	font-size: 16px;
	margin: 10px 10px 10px 0;
	font-family: FranklinGothic URW Demi,sans-serif;
	font-style: normal;
	font-weight: normal;
}

.activity-info {
	margin-top: -15px;
}

.activity-info .left {
	width: 4in;

	.label {
		width: .5in;
	}
}

.activity-info .right {
	margin-left: .95in;
	width: 3in;
	.val {
		white-space: nowrap;
		vertical-align: bottom;
	}
	.label {
		white-space: nowrap;
	}
}

.activity-info .label {
	width: 1.35in;
	//text-align: right;
	text-align: left;
}

.activity-info .val {
	width: 1.15in;
	margin-left: 0.125in;
}

.activity-result-editor {
	margin-bottom: 0.375in;
}

.activity {
	padding: 0.1in 0;
}

.ecsell {
	margin: 0;
	padding: 0;
	float: right;
	width: 186px;
	height: 59px;
}

.header .label {
	font-family: FranklinGothic URW Demi,sans-serif;
	font-style: normal;
}

.header {
	margin-bottom: 0.125in;
}

.directions{
	font-size: 14px;
}

.sac-section, .sac-summary{
	margin-top: 0.35in;
}

.section-label th {
	font-family: FranklinGothic URW Demi,sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	background: #052c49;
	color: #FFFFFF;
	padding: 5px;
	border-right: 1px solid #fff;
	text-align: center;

	&:last-child {
		border-right: none;
	}
}

.question .label {
	width: 6.5in;
	margin-right: 0.25in;
	margin-left: 0.25in;
	padding: 0.05in;
}

table {
	border-collapse: collapse;
}

tbody > tr.question td {
	padding: 0.05in .1in .05in .05in;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

	&:last-child {
		border-right: 1px solid #e5e5e5;
	}
}

.big-day-planning,
.weekly-team-meeting {
	margin-top: -30px;

	tbody > tr.question td {
		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}
	}
}

.weekly-team-meeting {

}

.question .val {
	width: 1in;
	padding-left: 0.0625in;
	text-align: left;
}

.sac-summary {
	page-break-inside: avoid;
}

.sac-summary .val{
	font-family: FranklinGothic URW Book, sans-serif;
	font-style: normal;
	background: #052c49;
	color: #FFFFFF;
	padding: 0.125in;
}

.sales-activity-calc  {
	tbody > tr.question td {
		border-right: none;
		border-left: none;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}

		&.val {
			text-align: right;
		}
	}
}

.topic-con {
  margin: 30px 0;
  padding-bottom: 30px;
  table {
    border-collapse: separate !important;
  }
  tr {
    + tr {
      td {
        padding-top: 15px;
      }
    }
  }
   .label {
     vertical-align: top;
     margin: 0 0 0 5px;
     white-space: nowrap;
		 word-break: none;
     width: 1.25in;
		 strong {
			 white-space: nowrap;
		 }
   }
  a {
    margin: 0;
    color: #052c49;
  }
  p {
    margin: 0;
  }
  .attachment-con {
    display: block;
    + .attachment-con {
      margin-top: 15px;
    }
  }
 }