@import "../config/base-import";
@import "../components/actions";
@import "../components/messages";
@import "../components/starter-menu";
@import "../components/side-nav";
@import "../components/miwt";
@import "../components/miwt-tables";
@import "../components/miwt-menu";
@import "../components/miwt-dialog";
@import "../components/tabs";
@import "../components/search-ui";
@import "../components/pager";
@import "../components/prop-ui";
@import "../components/file-chooser";
@import "../components/tooltipster"; //From EcSell/Haberfeld
@import "../components/general-form"; //From EcSell/Haberfeld
@import "../components/general-app"; //From EcSell/Haberfeld
@import "../components/switch"; //From EcSell/Haberfeld
@import "../components/kudos";

body {
	background: left top $body-bg url(/_resources/dyn/files/8818z58d6fab9/_fn/body-bg-tile.jpg) repeat;
	font-family: $font-libre-gothic;
	font-size: 14px;
	font-weight: 400;
	color: $font-default-color;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

/*#e-content {
	flex: 1 0 auto;
	min-height: calc(100vh - 90px);
	padding-bottom: 3rem;
}*/

/* content box defaults */
.content-box h1 {
	color: $font-default-color;
	font-family: $font-libre-gothic;
	font-weight: 700;
	font-size: 26px;
	margin-top: 0;
}

.content-box h2 {
	color: $font-default-color;
	font-family: $font-libre-gothic;
	font-weight: 600;
	font-size: 22px;
}

/* Interior Template styles */
#t-interior #header-wc-0,
#t-interior #primary-breadcrumbs-wc-0,
#t-interior #e-content-wc-0 {
	width: 1240px;
	margin: 0 auto;
}

/* 2 column layout styles */
.l-2col .aside-box {
	width: 246px;
	float: left;
	margin-left: 10px;
}

.l-2col .content-box {
	width: 960px;
	margin-left: 280px;
}

/* Generic column styles */
#t-interior .aside-box,
#t-interior .content-box,
#t-interior-full .content-box {
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	padding: 10px 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

#t-interior .content-box {
	margin-top: 15px;
}

#t-interior-full .content-box {
	margin: 15px 10px;
}

#main-wrapper main { padding-bottom: 3rem; }

::selection {
	background: $color-hab-orange;
	color: #fff;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

#main-content-wc-0 {
	h1, h2, h3 {
		font-weight: 700;
		padding: .75rem 0 1rem;
	}
	.text h1 {
		font-size: 2rem;
		color: $color-app-grey;
	}
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

p a {
	color: $color-hab-orange;

	&:hover {
		color: darken($color-hab-orange, 5%);
	}
}

.close.btn,
.dialog .titlebar .btn {
	width: 30px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	background: $color-hab-orange url(/_resources/dyn/files/9970zb929d85f/_fn/dialog-close.png) center center no-repeat;
	font-size: 0.01px;
}

.miwt-calendar {
	display: inline-block;
	vertical-align: middle;

	+ label {
		display: inline-block;
		vertical-align: middle;
	}
	button.open,
	button.clear {
		border: none;
		background: inherit;
		box-shadow: none;
		color: transparent;
		cursor: pointer;
		line-height: 0;

		&:before {
			margin-bottom: 3px;
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 1.5rem;
			line-height: 0;
			vertical-align: middle;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
			color: #444;
		}
		&:hover {
			color: transparent;
			&:before {
				color: $color-hab-orange;
			}
		}

		&:focus {
			outline: none;
		}
	}

	button.open {
		width: 30px;

		&::before {
			font-size: 1.15rem;
		}
	}

	button.clear {
		display: none;
	}
}

.instructions {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: $color-app-grey;
	font-style: italic;
}
p.instructions {
	padding-bottom: 0;
}

.prop-wrapper {

	.prop.time {
		.prop-group-title { margin-top: 0; }
	}

	.prop.timezone {
		> label { margin-top: 15px; }
	}

}



.user-search {
	.search-results {
		thead tr th {
			&:nth-of-type(2) {
				min-width: 7rem;
			}
			&.control {
				min-width: 3.5rem;
			}
		}
		tbody tr td:nth-of-type(8) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
		}
	}
}

.back-top {
	display: none;
}

div.calendar {
	z-index: 1900 !important;
}

/* ----- Select 2 overrides */

.select2-drop.fixed-width {
	width: 250px !important;
}

.select2-container,
.select2-drop {
	font-size: .95rem;
	text-align: left;
}

.select2-container {
	min-width: 8rem;

	.select2-choice  {
		height: 30px;
		line-height: 30px;
		border: 1px solid #d0d0d0;
		box-shadow:0 1px 3px rgba(0,0,0,0.15);
		border-radius: 3px;

		.select2-arrow {
			width: 32px;
			height: 100%;
			border-radius: 0 4px 4px 0;
			background: none;
			filter: none;
			border-left: 1px solid $color-hab-lightest-gray;

			b {
				background-position: -1px center;
			}
		}

		> .select2-chosen {
			margin-right: 40px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.select2-container-multi .select2-choices .select2-search-field input {
	font-family: $font-libre-gothic;
}

.select2-dropdown-open .select2-choice {
	border-radius: 3px;
	z-index: 10000;
}

.select2-drop-active {
	border: 1px solid $color-hab-lightest-gray;
}

.select2-results {
	margin: 0;
	padding: 0;

	li + li {
		border-top: 1px solid $color-hab-lightest-gray;
	}

	.select2-result-label {
		padding: 8px;
	}

	.select2-highlighted {
		background-color: $color-hab-orange
	}
}

.select2-tall .select2-results {
	max-height: 350px;
}

@media (max-width: 767px)
and (orientation:portrait) {

	.back-top {
		display: block;
		bottom: 1.5rem;
		position: absolute;
		right: 0;

		a {
			padding: 5px 7px 7px;
			border: 1px solid $color-app-brand;
			border-radius: 100%;
			line-height: 1;
			display: inline-block;
			background: #fff;
		}

	}

	.header {
		min-height: 50px;
	}

	#main-wrapper main {
		margin-top: -3.75rem;
	}

	#main-content-wc-0 h1, #main-content-wc-0 h2, #main-content-wc-0 h3 {
		padding-left: 2.5rem;
	}

}

#footer {
	display: block;
	min-height: 4.625rem;
	height: auto;
	margin-top: 0;
	background-color: $color-app-light-grey;
	color: $color-app-grey;
	//flex: 1;
	width: 100%;

	.text {
		padding: 1.5rem 0;
		max-width: 70rem;
		margin: 0 auto;
		text-align: center;

		p {
			margin: 0;
			font-size: .75rem;
		}

	}

}