@import "../components/activities";

.select2-drop .select2-results {
  max-height: 300px;
}

.activity-management {
  > .actions a.btn {
    background: transparent;
    border: none;
    font-size: .85rem;
    color: $color-hab-orange;
    padding: 0;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
      background: transparent;
    }

    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  .persistence-actions.form-based-activity {
    text-align: right;
  }
}

/* collapsible styles */
.miwt-collapsable a.trigger {
  color: $color-hab-orange;
  text-decoration: none;
}

.miwt-collapsable a.trigger:hover {
  text-decoration: underline;
}

.miwt-collapsable .miwt-collapsable-content {
  background-color: $color-white;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 35;
  right: 0;
  //top: 100%;
  top: auto;
  white-space: nowrap;

  .notify.prop-wrapper .prop-body {

    .prop-group {
      display: block;
      width: 100%;
    }

    div.message {
      border: none;
      padding: .5rem;

      .label {
        display: block;
        text-align: left;
      }

      .val {
        display: block;
        margin-left: 0;
        width: 100%;
      }
    }
  }
}

.miwt-collapsable .prop-group .prop .label {
  width: auto;
  color: $font-default-color;
}

.miwt-collapsable .prop-wrapper .prop-footer-actions .actions {
  margin-left: 0;
  text-align: right;

  .btn {
    margin-bottom: 1rem;
    border: none;
    float: none;

    &.cancel::before {
      background-image: url(/_resources/dyn/files/17928ze96a41d4/_fn/cancel_round.png)
    }

    &:hover {
      background: none;
      border: none;
    }

    &:focus, &:active {
      box-shadow: none;
      outline: none;
      text-decoration: underline;
    }
  }
}

.miwt-collapsable .prop-header-title {
  background-color: #ee7929;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.miwt-collapsable .prop-footer,
.miwt-collapsable .prop-body {
  padding: 0px 10px;
}

.miwt-collapsable .prop-wrapper .prop textarea {
  width: 300px;
  height: 80px;
}

.miwt-collapsable-content {
  .prop.message {
    background: transparent;

    &::before {
      display: none;
    }
  }
}