@import "../config/base-vars";

/* save to complete the stream storage copy */
/* Logged in user control for user information and actions */
.user-control {
	color: #fff;
	text-align: right;
	cursor: pointer;
	z-index: 2;
	position: relative;
}

.user-control:before,
.user-control:after {
	content: " ";
	display: table;
}

.user-control:after {
	clear: both;
}

.user-control {
	.collapsible-control {
		display: inline-block;
		min-width: 170px;
		padding: 10px;

		&:hover {
			background-color: #0b385b;
		}
	}
}

.user-control .collapsible-shown {
	position: absolute;
	top: 100%;
	right: 0;
}

.user-control-trigger {
	white-space: nowrap;
	&:hover {
		background-color: #0b385b;
	}
}

.user-control-trigger .photo {
	border: 1px solid #fff;
	width: 40px;
	height: 40px;
	float: right;
	background: center top #f3f3f3 url(/_resources/dyn/files/9035za2fed25b/_fn/default-user-photo.png) no-repeat;
	background-size: cover;
}

.user-control-trigger .info {
	margin-right: 50px;
	padding-top: 3px;
}

.user-control-trigger .intro {
	font-size: 13px;
	line-height: 1.25;
}

.user-control-trigger .name {
	color: $color-hab-orange;
	line-height: 1.25;
}

/* control panel, generally used in the user control */
.user-cp {
	text-align: left;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	min-width: 150px
}

.user-cp .menu {
	padding: 0;
	margin: 0;
}

.user-cp .mi {
	list-style: none;
}

.user-cp .menuitemlabel {
	text-decoration: none;
	background: #fff;
	color: $color-hab-orange;
	display: block;
	padding: 10px 20px;
}

.user-cp .menuitemlabel:hover {
	background-color: $color-hab-orange;
	color: #fff;
}

.user-cp .first .menuitemlabel {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.user-cp .last .menuitemlabel {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.user-cp .admin{
	font-size: 12px;
}

/* Generic breadcrumb styles for all ecsell breadcrumb components */
.ecsellbreadcrumb {
	margin: 15px 10px;
}

.ecsellbreadcrumb .crumbs {
	margin: 0;
	padding: 0;
}

.ecsellbreadcrumb .crumb {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.ecsellbreadcrumb .crumb + .crumb:before {
	content: '\f105';
	font-family: $font-glyph-lib;
	color: $color-hab-orange;
	display: inline-block;
	vertical-align: top;
	margin: -4px 10px 0;
	font-size: 1.15rem;
	//width: 11px;
	//height: 14px;
	//background: center center transparent url(/_resources/dyn/files/9005z89d38198/_fn/breadcrumb-arrow.png) no-repeat;
}

.ecsellbreadcrumb .crumb a {
	color: #4f5254;
	text-decoration: none;
	font-family: $font-libre-gothic;
	font-weight: 600;
}

/* General activity link menu */
.activitylinks {

	select {
		max-width: 100%;
	}

	.select2-container {
		max-width: 100%;
		margin-top: .25rem;
		font-weight: 400;
	}
}

.activitylinks .menu {
	margin: 10px 0 10px;
	padding: 0;
	font-family: $font-libre-gothic;
	font-weight: 600;

	&.menu-t3 {
		margin-top: 0;
	}
}

.activitylinks .mi {
	list-style: none;
}

.activitylinks a.menuitemlabel:hover {
	text-decoration: underline;
}

.activitylinks .menu-t1 {
	margin-top: 0;
}

.activitylinks a.header {
	color: $color-hab-orange;
	margin-top: 1rem;
	font-size: 24px;
	display: block;
	text-decoration: none;
}

.activitylinks .subheader {
	color: #3b3e40;
	display: block;
	font-size: 16px;

	&.myactivities,
	&.myteam {
		font-size: 18px;
		margin: 1rem 0 .25rem;
	}

	&.myactivities {
		text-decoration: none;
	}

	&.menuitemlabel {
		//color: #3b3e40;
		color: $color-hab-orange;

        &:hover {
          text-decoration: underline;
        }
	}
}

.activitylinks .menu-t2 > .mi + .mi {
	margin-top: 25px;
}

.activitylinks .menu-t2 > .mi > .menuitemlabel {
	color: $color-hab-orange;
	font-weight: 400;
}

.activitylinks .menu-t3 > .mi {
	margin: 5px 0;
}

.activitylinks .menu-t3 > .mi > .menuitemlabel {
	color: $color-hab-orange;
	font-weight: 400;
}

/* jquery ui updates */
.ui-widget-header select {
	color: #3b3e40;
}


/* Person styles */


/* period selector generic styles */
.period-selector {
	position: relative;
}

.period-selector .control-extra {
	position: absolute;
	top: 50%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	padding: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	border: 1px solid #eaeaea;
	background-color: #fff;
}

.period-selector .control-extra.active {
	visibility: visible;
	opacity: 1;
	top: 100%;
}

.period-selector .actions {
	margin-top: 5px;
	text-align: right;
}

.period-selector {

	.control .select2-container {
		width: 15.35rem !important;
	}

	.control-extra {
		width: 15.35rem;

		span.val {
			width: 100%;

			input {
				width: calc(100% - 31px);
				cursor: text;

				&:hover {
					cursor: text;
				}
			}

			.cal,
			.cycle-icon {
				display: inline-block;
				vertical-align: middle;
				margin-left: 6px;
				cursor: pointer;

				i {
					font-size: 1.5rem;
				}
			}
		}

		&.date-range,
		&.cycle-range {
			label {
				display: block;
				margin-bottom: 0;
			}
			.question {
				margin-bottom: 8px;
			}
		}

		.actions input[type="submit"] {
			background: $color-hab-orange;
			border: 1px solid darken($color-hab-orange, 5%);
			font-weight: 700;
			border-radius: $btn-border-radius;
			box-shadow: none;
			color: $color-white;
			padding: .6rem 1rem .4rem;
			line-height: 1.25;

			&:hover {
				background: darken($color-hab-orange, 5%);
			}
		}
	}

	.picker {
		display: none;
		margin-top: .5rem;
		border: 1px solid #e5e5e5;
		width: 100%;

		.year-select {
			background-color: $color-hab-orange;
			text-align: center;

			select {
				width: 5rem;
			}
		}

		.selection-container {

			div {
				display: inline-block;
				vertical-align: top;
				font-size: .85rem;
				color: $color-hab-orange;
				cursor: pointer;
				border: 1px solid #e5e5e5;
				border-collapse: collapse;
				text-align: center;
				font-weight: 600;
			}

			&.cycle {
				div {
					width: 33.33%;
				}
			}

			&.month {
				div {
					width: 25%;
				}
			}
		}

		&.active {
			display: block;
		}
	}
}

.period-selector .control .summary {
	position: absolute;
	left: 100%;
	top: 0;
	line-height: 32px;
	margin-left: 10px;
	white-space: nowrap;
}

.period-selector .control .summary:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* quick table view */
.quick-view {
	background: #062B47;
	border-radius: 3px;
	border: 3px solid #062B47;
}

.quick-view .heading {
	font-size: 18px;
	font-family: $font-libre-gothic;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0;
	padding: 10px 10px;
}

.quick-view .stats-con{
	width: 100%;
	height: 100%;
	max-height: 146px;
	overflow-y: auto;
	overflow-x: hidden;
}

.quick-view .stats {
	width: 100%;
	display: table;
	font-size: 14px;
	font-family: $font-libre-gothic;
	font-weight: 600;
	color: #FFFFFF;
}

.quick-view .stats .stat {
	display: table-row;
}

.quick-view .stats .stat.even {
	background: #0B385B;
}

.quick-view .stats .stat .label {
	display: table-cell;
	padding: 1px 0px 2px 10px;
}

.quick-view .stats .stat .val {
	display: table-cell;
	/*width: 1%;*/
	width: 125px;
	text-align: right;
	padding: 0 10px;
	vertical-align: middle;
	/*white-space: nowrap;*/
	white-space: normal;
}

.quick-view .stat.subrow .label {
	padding-left: 30px;
}

/* PROFILE PERSON */
.person .photo {
	background-size: cover;
	background-position: center top;
	background-color: #333639;
	background-image: url(/_resources/dyn/files/9035za2fed25b/_fn/default-user-photo.png);
	background-repeat: no-repeat;
}

.person .more {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
}

.person .details {
	color: #fff;
	font-family: $font-libre-gothic;
	font-weight: 700;
	font-size: 14px;
	padding: 5px;
	position: relative;
}

.person .meta {
	white-space: nowrap;
}

.person .meta .mi {
	text-overflow: ellipsis;
	overflow: hidden;
}

.person .meta .position,
.person .meta .disc {
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.profile {
	position: relative;
	z-index: 35;
	border: 3px solid #fff;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.profile .person .photo {
	width: 240px;
	height: 240px;
}

.profile .person .meta {
	margin-right: 21px;
}

.profile .person .details {
	background-color: #333639;
}

.profile .person .details {
	.btn-glyph {
		position: absolute;
		width: 22px;
		height: 23px;
		color: transparent;
		font-weight: 400;

		&::before {
			font-family: $font-glyph-lib;
			font-size: 1.35rem;
			line-height: 1.5rem;
			color: $color-white;
			display: inline-block;
			font-weight: 400;
		}

		&.configure {
			right: 4px;
			top: 10px;

			&::before {
				content: '\f013';
				font-weight: 400;
			}
		}

		&.activities {
			right: 32px;
			top: 11px;

			.aside-box & {
				right: 6px;
			}

			&::before {
				content: '\f044';
				font-weight: 400;
			}
		}
	}
}

.prop-wrapper.reminder-editor {
	span.header {
		font-size: 1.25rem;
		display: block;
		margin-bottom: 1rem;
	}

	.reminders-con .reminder-editor {
		+ .reminder-editor {
			border-top: 1px solid #e5e5e5;
			margin-top: 1rem;
			padding-top: 1rem;
		}
	}

	.editor {
		input[type="text"] {
			width: 3.5rem;
			vertical-align: middle;
			min-width: auto;
		}

		> span {
			margin-right: .35rem;
			font-size: .9rem;
		}

		.select2-container {
			margin-left: .5rem;

			&:last-of-type {
				width: 205px !important;
			}
		}

		+ div.actions {
			border-top: none;
			padding-top: 0;
			margin-top: .5rem;
			text-align: right;
			padding-right: 13px;

			.btn {
				@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);

				&.delete {
					@include button-variant($color-app-red, $color-white, $color-app-red);
				}
			}
		}
	}

	.reminders-con {
		> .actions {
			padding-top: 1.25rem;
			border-top: 1px solid #e5e5e5;

			.btn[data-text-confirm] {
				padding: 0;
				background: transparent;
				color: $color-hab-orange;
				border: none;
				text-decoration: underline;
				margin-top: 1rem;
				text-transform: none;
				display: block;
				font-weight: 600;

				&:focus, &:active {
					box-shadow: none;
					outline: none;
					text-decoration: underline;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}