@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/mixins/pagination";

div.pager-top {
	display: none;
}

.pager-bottom {
	display: inline-block;
	padding-left: 0;
	margin-top: $spacer-y;
	margin-bottom: $spacer-y;
	text-align: center;
	width: 100%;
}

.pages.page {

	&:first-child {
		margin-left: 0;
		@include border-left-radius($border-radius);
	}
	&:last-child {
		@include border-right-radius($border-radius);
	}

}
.pages .selected-page.page {
	background-color: #F4F5F6;
	border-color: #bababa;
	color: #404040;

	&:hover {
		background-color: #F4F5F6;
		border-color: #bababa;
		color: #404040;
	}
}


.pages .page,
.mp-controls .control {
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	border-radius: 3px;
	line-height: 26px;
	padding: 0 5px;
	color: #EE7421;
	font-family: $font-open-sans;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.pages .page {
	min-width: 25px;

	&:hover {
		background-color: #EE7421;
		border-color: #D75C18;
		color: #FFFFFF;
	}
}

.pager .controls{
	display: inline-block;

	.control:hover {
		text-decoration: underline;
	}
}
.pager .next-controls{
	margin-left:4px;
}
.pager .prev-controls{
	margin-right:4px;
}