@import "../config/base-vars";
@import "../mixins/miwt-switch";
@import "../../../../../bower_components/bootstrap/scss/mixins/buttons";

/* ==========================================================================
   Basic Styles for Property Editor/Viewer
   baiken@vipasolutions.com, sbenes
   Updated July 25, 2014
   ========================================================================== */

/* Form Elements
   ========================================================================== */

.prop-wrapper {
	//max-width: 50rem;
	max-width: 100%;

	input,
	textarea {
		border: 1px solid #B7B7B5;
		padding: 2px 5px;
		margin: 2px;
		border-radius: $border-radius-lg;
	}

	input:focus,
	select:focus,
	textarea:focus {
		background-color: #feffdd;
	}

	button,
	input[type="submit"],
	input[type="reset"],
	.constraints a[data-features~="submit"] {
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
	}

}
input[type=number]{
	width:8ch;
}

/* Content
	 ========================================================================== */
.prop-wrapper {
	.prop-header-title {
		font-size: 22px;
		font-weight: 500;
		margin: 1em 0;
	}

	.prop-group-title {
		font-weight: 500;
		font-size: 18px;
		margin: 10px 0;
	}
	span.ctb {
		display: block;
	}
	.prop > label {
		display: block;
		font-weight: 400;
		user-select: none;
	}
	.prop > label.tbl {
		display: inline-block;
		padding-right: 4px;
	}
	.prop > .val {
		display: inline-block;
	}

	header .actions, footer .actions {
		margin: 10px 0;
		text-align: right;
	}

	.actions.bottom {
		text-align: right;
		margin-top: 1rem;
	}

	.prop {
		> .actions, .selected-link {
			.btn {
				@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-xs, $btn-border-radius-sm);
			}
		}
	}

	.prop-group {
		margin-bottom: 0;
	}

	.user-entry-required label:after,
	.user-entry-required caption:after{
		content: "*";
		color: #ff0000;
	}

	.validation-error input[type="text"] {
		border: 1px solid red;
	}

}

.prop-viewer,
.prop-editor {
	padding: .5rem;
}

.prop-viewer {
	.actions.top {
		display: none;
	}

	.address > span {
		display: block;
	}

}

.prop-editor {
	.prop {
		input[type=text],
		input[type=email],
		input[type=url],
		input[type=tel],
		textarea {
			//min-width: 25rem;
			width: 45%;
		}

		.actions {
			@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
		}

		span.rtb + span.rtb {
			padding-left: 1rem;
		}

		span.ctb + span.ctb {
			padding-left: 1rem;
		}

		&.sales-stages {
			span.ctb + span.ctb {
				padding-left: 0;
			}
		}
	}
	.miwt-calendar {
		input[type=text] {
			min-width:8rem;
			max-width: 8rem;
		}
	}
}

.user-picture.mode-view {
	max-width: 325px;
	box-sizing: content-box;
	img {
		max-width: 325px;
	}
}

.resource-picture.mode-view {
	max-width: 350px;
	box-sizing: content-box;
}

.picture-editor .actions.bottom {
	text-align: center;
}

.prop.picture {
	img {
		border-radius: 100%;
		max-height: 200px;
	}
}

@media (max-width: 767px) {
	.prop-editor {
		.prop {
			input[type=text],
			input[type=email],
			input[type=url],
			input[type=tel],
			textarea {
				width: 100%;
			}
		}
	}
}

.prop.schedule {
	width: 100%;
	margin-top: 1rem;

	> div {
		width: 8rem;
		.select2-container {
			max-width: 100%;
			width: 100% !important;
		}

		&.repeat-interval-wrapper {
			display: inline-block;
			margin: 2rem 1rem 0 0;
			+ .frequency {
				display: inline-block;
				vertical-align: top;
				margin: 2rem 0 1rem;
				padding: 0;

				> label {
					display: block;
					color: transparent;
				}
			}
		}
		&.by, &.dom {
			padding: 0;
			margin-bottom: 1rem;
		}
	}
	.prop.dow {
		span.ctb + span.ctb {
			padding-left: 0;
		}
	}
	.prop.repeat {
		display: inline-block;
		margin: 0;
		padding: 0;
		@include checkboxSwitch(false, 6ch);
		width: 100%;
	}

	span.rtb.label-after {
		display: block;

		+ span.rtb.label-after {
			padding-left: 0;
		}
	}

}

/* FROM ECSELL / HABERFELD
   ========================================================================== */

/* Prop-EditorViewer Generic Styles*/
.prop-wrapper.prop-gen .props {
	display: table;
	width: 100%;
}

.activity-management .form_content .question .form_field.prop-group {
	display: table;
	width: 100%;
}

.prop-wrapper.prop-gen .prop,
.activity-management .form_content .question .form_field.prop-group .props {
	display: table-row;
}

.prop-wrapper.prop-gen .prop .label,
.question .form_field.prop-group .props label {
	width: 50%;
	text-align: right;
	display: table-cell;
	vertical-align: top;
	padding: 10px;
	font-family: $font-libre-gothic;
	font-weight: 600;
}

.prop-wrapper.prop-gen .prop .val,
.question .form_field.prop-group .props span.extra_value_renderer_readonly {
	display: table-cell;
	margin-left: 5px;
	padding: 10px;
	vertical-align: top;
}

.prop-wrapper.prop-gen .prop .rtb + .rtb {
	margin-left: 15px;
}

.prop-wrapper.prop-gen .prop .rtb label {
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
}

.prop-wrapper.prop-gen .prop .rtb > input[type=radio],
.prop-wrapper.prop-gen .prop .ctb > input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
}

.prop-wrapper.prop-gen .prop .rtb > input[type=radio] {
	margin-top: 1px;
}

.prop-wrapper.prop-gen .prop .ctb > input[type=checkbox] {
	margin: -2px 2px 0;
	width: 15px;
	height: 15px;
}

.prop-wrapper.prop-gen .prop .ctb {
	display: block;
}

.prop-wrapper.prop-gen .prop .ctb label {
	display: inline-block;
	vertical-align: top;
	margin: 2px 0px 0px 9px;
}

.prop-wrapper.prop-gen .prop .cb-field .ctb {
	margin-bottom: 15px;
}

.prop-wrapper.prop-gen .prop .label .secondary {
	display: block;
	font-size: 12px;
}

.prop-wrapper.prop-gen .prop textarea {
	width: 100%;
}

.prop-wrapper.prop-gen .prop-header-actions .actions,
.prop-wrapper.prop-gen .prop-footer-actions .actions {
	margin-left: 0;
	padding: 0;
}

.prop-wrapper.prop-gen .prop-group .prop-group-title > * {
	text-align: left;
	width: 100%;
	display: inline-block;
	margin: 20px 0px;
	background: #062B47;
	padding: 5px 20px;
	border-radius: 3px;
	font-family: OpenSansSemiBold, Arial, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}

.prop-wrapper.prop-gen .message-container .message {
	margin: 10px 0px;
}

.prop-wrapper.prop-gen .actions.top {
	display: none;
}

.prop-wrapper.prop-gen .phone_field .phone_number_format .rtb + .rtb {
	margin-left: 15px;
}

.prop-wrapper.phone_field .phone_number_entry_con .label_con.extension_label_con .extension_label.label {
	margin-left: 15px;
}

.prop-wrapper.prop-gen .prop.account-link .val input {
	width: 100%;
}

.prop-wrapper.prop-gen .prop .val a {
	color: $color-hab-orange;
	text-decoration: none;
}

.prop-wrapper.prop-gen .prop .val a:hover {
	text-decoration: underline;
}

.prop-wrapper.prop-gen .prop .val .select2-choice {
	color: #444;
}

.prop-wrapper.prop-gen .prop .val .select2-choice:hover {
	text-decoration: none;
}


/* horizontal property edtior */
.prop-wrapper.prop-horizontal .props {
	display: table;
	width: 100%;
}

.prop-wrapper.prop-horizontal .prop {
	display: table-cell;
	padding: 0 5px;
}

.prop-wrapper.prop-horizontal .prop .label {
	font-family: OpenSansSemiBold;
	margin-right: 5px;
}

.prop-wrapper.prop-horizontal .meeeting-date .actions button.btn {
	margin: 0;
}

.prop-wrapper.prop-horizontal .meeeting-date .actions button.btn + .btn {
	margin-left: 5px;
}

.prop-wrapper .prop.profile {
	position: relative;
	border: 0;
}

/* dialog specific props */
.dialog.prop-wrapper.prop-gen .actions button {
	margin-top: 0;
	margin-bottom: 0;
}

.dialog.prop-wrapper.prop-gen.note-editor .prop > .label {
	width: 10%;
}

.dialog.prop-wrapper.prop-gen.note-editor .prop > .val textarea {
	min-height: 80px;
}

.dialog.prop-wrapper.prop-gen.note-editor .prop-footer-actions .actions {
	margin-left: 0;
	text-align: right;
}

.prop-wrapper.password-viewer.prop-gen .prop-header-actions .actions.top{
	display: block;
}

