/* ==========================================================================
   Standard CSS for Basic Search UI
   baiken@vipasolutions.com, sbenes
   Updated July 25, 2014
   ========================================================================== */
/* Form Elements
   ========================================================================== */
@import "../config/base-vars";
@import "../mixins/general-mixins";
@import "../../../../../bower_components/bootstrap/scss/mixins/clearfix";
@import "../../../../../bower_components/bootstrap/scss/mixins/buttons";

.search .entity-actions .menu-component,
.search-wrapper .entity-actions .menu-component {
	margin-right: 25px;
	@include bootstrapButton;
	@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	padding: 0 !important;

	> a.menu-item {
		font-size: 1rem;
		line-height: 1.5;
		&:before {
			font-size: .8rem;
			display: inline-block;
			margin-top: -2px;
			vertical-align: middle;
		}
	}

}

/* Search Bar
   ========================================================================== */
.search-bar {
	margin: 10px 0 10px -10px;
	padding: 10px 0;

	input[type="text"] {
		border: 1px solid #aaa;
		border-radius: $border-radius-lg;
	}

}

.search-bar .constraint {
	display: inline-block;
	white-space: nowrap;
	margin: 5px;
	padding: 5px;

}

.search-bar .constraint label {
	display: block;
	margin-bottom: 0;
	font-weight: 600;
}

.search-bar .search-actions {
	display: inline-block;
	padding: 10px;
}

.constraint-input-conjunction {
	padding: 0 4px;
}

/* Actions
   ========================================================================== */
.search-wrapper .entity-actions,
.search .entity-actions {
	/*float: right;
	margin-top:-1rem;
	margin-bottom: 1rem;*/
}


.search {

	&.search-wrapper .result-actions {
		margin: -10px 0 10px;
	}

	.result-actions {
		text-align: right;
		display: block;
		padding: 0 0 10px;
		margin: 0 0 10px;

		label {
			display: block;
			margin-bottom: 0;
			font-weight: 600;
			font-size: 14px;
		}

		.select2-container {
			width: 160px !important;
		}
	}
}

/* Results Table
   ========================================================================== */
.pager-search-results .miwt-table-con {
	overflow: auto;
}
.search-wrapper .miwt-table {
	width: 100%;
	margin: 20px 0;
}

.search .miwt-table tbody tr:hover td,
.search-wrapper .miwt-table tbody tr:hover td {
	background-color: #feffdd;
}

.search td.actions-col,
.search-wrapper td.actions-col {
	width: 1%;
	white-space: nowrap;
}

select.bulk-actions,
select.bulk_actions {
	min-width: 8rem;
}

.search-bar .range-constraint {
	white-space: normal;
	select {
		min-width: 6rem;
	}
	.constraint-label {
		display: block;
	}
	.miwt-calendar{
		margin-top:4px;
	}
	.constraint-operator,
	.miwt-calendar,
	.constraint-input-conjunction {
		white-space: nowrap;
		display: inline-block;
	}

	.constraint-input {
		padding-left: 10px;
	}
}
