@import "../config/base-vars";

/* Header styles */
#header {
	background: rgb(6,43,72); /* Fallback for older browsers that don't support linear gradient */
	background: linear-gradient(to bottom,  rgba(6,43,72,1) 0%,rgba(6,43,72,1) 36%,rgba(5,35,59,1) 100%); /* W3C */
	border-bottom: 1px solid #0d3b61;

	> .box-wc {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0 10px 10px;

		/* use flexbox to make sure the elements are displayed in the order we want them. */
		> div {
			order: 3;
		}

		.logo {
			order: 1;
		}

		.user-control {
			order: 2;
		}

		.logo,
		.user-control {
			flex-basis: 50%;
		}

		.custom-menu,
		.coaching-library {
			flex-basis: 48%;

			ul.menu-t1 {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-around;
				width: 100%;
			}
		}

		.dashboard-quickfind {
			flex-basis: calc(100% - 65px);
			text-align: right;

			.select2-container {
				max-width: 100%;
			}
		}

		.send-cheer-con,
		.notifications-summary {
			flex-basis: 28px;
			text-align: center;
		}

		@media only screen and (min-width: 1240px){
			.custom-menu,
			.coaching-library,
			.dashboard-quickfind {
				flex-basis: calc(35% - 65px);
			}
		}
	}

	.text.logo {
		img {
			width: 165px;
			height: auto;
			padding-top: 2px;
		}
	}
}


/* Generic Primary menu class.  Primarily used in top nav of the page */
.primary-menu {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;

	> .menu {
		display: inline-block;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menuitemlabel {
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: $font-libre-gothic;
		padding: 5px;
	}

	div.menuitemlabel {
		cursor: default;
	}

	.mi {
		list-style: none;
	}

	.menu-t1 {

		> .mi {
			position: relative;
			display: inline-block;

			> .menuitemlabel {
				font-size: 18px;
				padding: 5px 20px 5px 45px;
				background: 0 -4px transparent url(/_resources/dyn/files/8955z43c92937/_fn/primary-menu-icons.png) no-repeat;

				@media only screen and (max-width: 759px){
					font-size: 17px;
					padding: 5px 10px;
					background: 0 0;
				}
			}
		}

		@media only screen and (min-width: 760px) {

			> .team > .menuitemlabel {
				background-position: 0 -4px;
			}
			> .activities > .menuitemlabel {
				background-position: 0 -46px;
			}
			> .training > .menuitemlabel {
				background-position: 0 -126px;
			}
			> .support > .menuitemlabel {
				background-position: 0 -87px;
			}
			> .events > .menuitemlabel {
				background-position: 0 -165px;
			}
			> .coaching > .menuitemlabel {
				background-position: 0 -205px;
			}
			> .reports > .menuitemlabel {
				background-position: 0 -46px;
			}
			> .topic-list-management > .menuitemlabel,
			> .topic-lists > .menuitemlabel {
				background: none;

				&::before {
					content: '\f022';
					font-family: $font-glyph-lib;
					font-weight: 400;
					font-size: 28px;
					position: absolute;
					left: 6px;
					top: -2px;
				}
			}
		}

		> .mi.open-menu .menu-t2 {
			opacity: 1;
			visibility: visible;
		}

		> .mi:active .menu-t2{
			-webkit-transition: opacity .15s ease-out;
			transition: opacity .15s ease-out;
		}
	}

	/* SECONDARY MENU STYLES */
	.menu-t2 {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 50;
		width: 250px;
		background: #062B47;
		padding: 5px;
		border-radius: 3px;
		box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		max-height: 210px;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		transition: all 0.15s ease-out;

		> .mi {
			background-color: #0B385B;
			border-radius: 1px;
			transition: all 0.15s;

			+ .mi {
				margin-top: 3px;
			}

			> .menuitemlabel {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
				font-size: 14px;
				padding: 3px 5px;
			}
		}

		> .mi:hover {
			background-color: $color-hab-orange;
		}
	}
}