@import "../config/base-vars";

/* Header styles */
#header {
	background: rgb(6,43,72); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2MmI0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzA2MmI0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTIzM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(6,43,72,1) 0%, rgba(6,43,72,1) 36%, rgba(5,35,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,43,72,1)), color-stop(36%,rgba(6,43,72,1)), color-stop(100%,rgba(5,35,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(6,43,72,1) 0%,rgba(6,43,72,1) 36%,rgba(5,35,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(6,43,72,1) 0%,rgba(6,43,72,1) 36%,rgba(5,35,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(6,43,72,1) 0%,rgba(6,43,72,1) 36%,rgba(5,35,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(6,43,72,1) 0%,rgba(6,43,72,1) 36%,rgba(5,35,59,1) 100%); /* W3C */
	border-bottom: 1px solid #0d3b61;

	.lt-ie9 & {
		background: none;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062b48', endColorstr='#05233b',GradientType=0 ); /* IE6-8 */
	}
}

#header-wc-0 {
	padding: 5px 10px;
	position: relative;
}

#header-wc-0:before,
#header-wc-0:after {
	content: " ";
	display: table;
}

/* Generic Primary menu class.  Primarily used in top nav of the page */
.primary-menu {
	display: inline-block;
	vertical-align: middle;

	> .menu {
		display: inline-block;
	}

	+ .primary-menu {
		margin-left: 50px;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menuitemlabel {
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: OpenSans, Arial, sans-serif;
		padding: 5px;
	}

	div.menuitemlabel {
		cursor: default;
	}

	.mi {
		list-style: none;
	}

	.menu-t1 {

		> .mi {
			position: relative;
			display: inline-block;

			+ .mi {
				margin-left: 50px;
			}

			> .menuitemlabel {
				font-size: 18px;
				padding: 5px 20px 5px 45px;
				background: 0 -4px transparent url(/_resources/dyn/files/8955z43c92937/_fn/primary-menu-icons.png) no-repeat;
			}
		}

		> .team > .menuitemlabel { background-position: 0 -4px; }
		> .activities > .menuitemlabel { background-position: 0 -46px; }
		> .training > .menuitemlabel { background-position: 0 -126px; }
		> .support > .menuitemlabel { background-position: 0 -87px; }
		> .events > .menuitemlabel { background-position: 0 -165px; }
		> .coaching > .menuitemlabel { background-position: 0 -205px; }

		> .mi.open-menu .menu-t2 {
			opacity: 1;
			visibility: visible;
		}

		> .mi:active .menu-t2{
			-webkit-transition: opacity .15s ease-out;
			transition: opacity .15s ease-out;
		}
	}

	/* SECONDARY MENU STYLES */
	.menu-t2 {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 50;
		width: 250px;
		background: #062B47;
		padding: 5px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		max-height: 210px;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.15s ease-out;
		-moz-transition: all 0.15s ease-out;
		-ms-transition: all 0.15s ease-out;
		transition: all 0.15s ease-out;

		> .mi {
			background-color: #0B385B;
			-moz-border-radius: 1px;
			border-radius: 1px;
			-webkit-transition: all 0.15s;
			-moz-transition: all 0.15s;
			-ms-transition: all 0.15s;
			transition: all 0.15s;

			+ .mi {
				margin-top: 3px;
			}

			> .menuitemlabel {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
				font-size: 14px;
				padding: 3px 5px;
			}
		}

		> .mi:hover {
			background-color: #EE7421;
		}
	}
}