@import "../config/base-vars";

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-base.ecsell-popup {
	background-color: #fff;
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	border-radius: 3px;
	color: #3b3e40;
	font-family: OpenSansSemiBold, Arial, Verdana, sans-serif;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-base.ecsell-popup .tooltipster-content {
	overflow: hidden;
}

.tooltipster-base.ecsell-popup .tooltipster-content .title {
	background-color: $color-hab-orange;
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	padding: 5px 10px;
	border-radius: 3px 3px 0 0;
}

.tooltipster-base.ecsell-popup .tooltipster-content .content {
	padding: 10px;
	font-size: 12px;
	line-height: 1.4;
}